@import "@fontsource/ia-writer-duospace/400.css";
@import "@fontsource/ia-writer-duospace/700.css";

.ngoblin-editor-container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
}

.ngoblin-editor-inner .cm-selectionBackground {
    background: lemonchiffon;
}

.ngoblin-preview-container, .ngoblin-editor-inner > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 0 !important;
    font-family: "iA Writer Duospace";

    font-size: 1rem;
    --md-heading-font-size: 1rem;
    --md-heading1-font-size: 1.4rem;
    --md-heading2-font-size: 1.3rem;
    --md-heading3-font-size: 1.2rem;
    --md-heading4-font-size: 1.1rem;
    --md-heading5-font-size: 1rem;
    --md-heading6-font-size: 1rem;

    --md-heading1-font-weight: 700;
    --md-heading2-font-weight: 700;
    --md-heading3-font-weight: 700;
    --md-heading4-font-weight: 700;
    --md-heading5-font-weight: 700;
    --md-heading6-font-weight: 700;
}

.cm-focused {
    outline: none !important;
}

.ngoblin-editor-preview, .cm-editor {
    margin: 70px auto !important;
    max-width: 800px !important;
}

.ngoblin-editor-preview h1 {
    font-size: var(--md-heading1-font-size);
    font-weight: var(--md-heading1-font-weight);
}

.ngoblin-editor-preview h2 {
    font-size: var(--md-heading2-font-size);
    font-weight: var(--md-heading2-font-weight);
}

.ngoblin-editor-preview h3 {
    font-size: var(--md-heading3-font-size);
    font-weight: var(--md-heading3-font-weight);
}

.ngoblin-editor-preview h4 {
    font-size: var(--md-heading4-font-size);
    font-weight: var(--md-heading4-font-weight);
}

.ngoblin-editor-preview h5 {
    font-size: var(--md-heading5-font-size);
    font-weight: var(--md-heading5-font-weight);
}

.ngoblin-editor-preview h6 {
    font-size: var(--md-heading6-font-size);
    font-weight: var(--md-heading6-font-weight);
}

.ngoblin-editor-toolbar-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background: white;
    border-radius: 4px;
    border: 1px solid var(--rs-border-primary);
}
